.card{
    height: 400px;
    margin-top: 30px;
}

.card button{
    margin-bottom: 7px;
}

.invisible{
    display: none;
}

.imgDoctor{
    width: 200px;
}

.oscuro{
    background-color: black;
    color: white;
}

.cardOscuro{
    background-color: #121212;
}

.nameOscuro{
    color: white;
}